.presentation-container {
  display: grid;
  height: 500px;
}

.presentation-text {
  grid-area: text;
  width: 100%;
}

.presentation-image {
  grid-area: image;
  background-image: url("https://www.teahub.io/photos/full/22-220999_web-developer-wallpaper-web-development.jpg");
  background-size: cover;
  filter: drop-shadow(0 0 0.75rem black);
}

@media screen and (min-width: 900px) {
  .presentation-container {
    grid-template-areas: "text image";
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .presentation-container {
    grid-template-areas:
      "text"
      "image";
  }
}
