.wrap-image {
  border-radius: 50%;
  border: solid #74b9ff 5px;
  box-shadow: 0 30px 15px rgb(0, 0, 0, 0.2);

  display: grid;
  overflow: hidden;
  margin: auto;
}

.wrap-image > img {
  margin: auto;
}

.presentation-container {
  display: grid;
  height: 500px;
}

.presentation-text {
  grid-area: text;
  width: 100%;
  color: white;
}

.presentation-text > p {
  font-size: 20px;
}

.presentation-image {
  grid-area: image;
  background-size: cover;
}

.opacity-black {
  background: rgb(0, 0, 0, 0.6);
}

.filter-low {
  background: rgba(0, 0, 0, 0.1);
}

.text-container {
  width: 100%;
  height: 100%;

  display: grid;
}

.text-container > p {
  color: white;
  margin: auto;

  font-size: 25px;
}

.profile-image {
  grid-area: profile-image;
}

@media screen and (min-width: 900px) {
  .presentation-container {
    grid-template-areas:
      "text image"
      "profile-image image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .wrap-image {
    width: 300px;
    height: 300px;
  }

  .wrap-image > img {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .presentation-container {
    grid-template-areas:
      "image"
      "text"
      "profile-image";
  }

  .wrap-image {
    width: 150px;
    height: 150px;
  }

  .wrap-image > img {
    width: 150px;
  }
}
