.drop-list-container {
  color: rgb(36, 46, 66);
}

.drop-list {
  transition: all 0.3s linear;
}

.drop-list:hover {
  color: #74b9ff;
}

@media screen and (min-width: 900px) {
  .drop-list {
    display: none !important;
  }
}

@media screen and (max-width: 900px) {
  .list {
    transition: all 0.3s linear;
    height: 0;
    overflow: hidden;
  }

  .drop-list {
    cursor: pointer;
  }
}

.responsive {
  height: 500px;
}

.arrow-open {
  transform: rotate(-180deg);
}

@media screen and (max-width: 600px) {
  .drop-list-container > h2 {
    font-size: 20px;
  }
}
