.card {
  transition: 0.3s ease;
  width: 350px;
  color: rgb(36, 46, 66);
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  background-color: #74b9ff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

  margin-bottom: 10px;
}

.card > p {
  opacity: 0.7;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #74b9ff;
}

.image-container > img {
  height: 75px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.image-container {
  background-color: #74b9ff;
  border-radius: 10px 10px 0 0;
}

@media screen and (min-width: 900px) {
  .card {
    display: inline-table;
    height: 400px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    overflow: hidden;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
  }

  .card:hover {
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .card {
    overflow: hidden;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .card {
    height: 120px;
    width: 300px;
  }

  .card > h1 {
    font-size: 20px;
  }

  .card:hover {
    height: 300px;
  }

  .image-container > img {
    height: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
