.bullet-container {
  grid-area: bullet-list;
  color: rgb(36, 46, 66);
}

@media screen and (min-width: 900px) {
  #droplist-framework-btn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .bullet-list {
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
  }

  .drop-list {
    cursor: pointer;
  }
}

.responsive {
  height: 500px;
}
