.container {
  display: grid;
  grid-template-areas: "logo navigation navigation navigation";

  background-color: #74b9ff;
  color: white;
  height: 75px;
}

.logo-container {
  grid-area: logo;
  display: grid;
  max-height: 75px;
}

.logo {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .logo-container {
    display: block;
    margin-top: 30px;
    width: 200px;
  }
}
