.tag-content > div,
p {
  display: inline-block;
}

.tag-content > p {
  color: #1dd1a1;
}

.tag-container {
  display: grid;
}

.tag-content {
  margin: auto;
  color: white;
  font-size: 30px;
}

.tag-content > div {
  color: #74b9ff;
}
