footer {
  display: grid;
  grid-template-columns:
    "social-network"
    "copyright";

  background-color: #232b2b;
  color: white;
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container {
  display: grid;
}

.footer-content {
  margin: auto;
}

.small-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
