footer {
  display: grid;
  grid-template-columns:
    "social-network"
    "copyright";

  background-color: rgb(36, 46, 66);
  color: white;

  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container {
  display: grid;
}

.footer-content {
  margin: auto;
}

@media screen and (min-width: 900px) {
  footer {
    height: 200px;
  }
}

@media screen and (max-width: 900px) {
  footer {
    height: 150px;
  }
}
